.app.dark {
    --bg-color: #090949;

    // обратный противоположный цвет
    --inverted-bg-color: #e8e8ea;

    // главный цвет шрифта приложения === заголовок
    --primary-color: #049604;

    // второстепенный цвет шрифта то на что не надо делать акцент === описание к заголовкам например
    --secondary-color: #04ff04;

    // inveted цвета для шрифтов
    --inveted-primary-color: #0232c2;
    --inveted-secondary-color: #0449e0;
}

/*
inveted -- противоположный светлой теме
При переключении темы навбар меняет цвет на противоположный на цвет фона экрана
 */
