.app.dark {
    --bg-color: #090949;

    // главный цвет шрифта приложения === заголовок
    --primary-color: #049604;
    // второстепенный цвет шрифта то на что не надо делать акцент === описание к заголовкам например
    --secondary-color: #04ff04;
}
