.app.light {
    --bg-color: #e8e8ea;

    // обратный противоположный цвет
    --inverted-bg-color: #090949;
    --secondary-color: #0449e0; // главный цвет шрифта приложения === заголовок
    --primary-color: #0232c2; // второстепенный цвет шрифта то на что не надо делать акцент === описание к заголовкам например

    // inveted цвета для шрифтов
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}

/*
inveted -- противоположный тёмной теме

При переключении темы навбар меняет цвет на противоположный на цвет фона экрана
 */
