.app.light {
  --bg-color: #e8e8ea;

  // главный цвет шрифта приложения === заголовок
  --primary-color: #041c65;
  // второстепенный цвет шрифта то на что не надо делать акцент === описание к заголовкам например
  --secondary-color: #0449e0;
}
